{{ define "main" }}
<div class="container rounded bg-gradient-secondary">
  <div class="row my-lg-5">
    <div class="col p-5 text-center">
      <h1>{{ .Title }}</h1>
      <div>
        <i class="iconfont icon-modify mr-2"></i>
        {{ dateFormat .Site.Params.dateformFull .Lastmod.Local }}
      </div>
      <a href="../" class="tongue tongue-secondary tongue-bottom d-print-none">
        <i class="iconfont icon-angle-up-o"></i>
      </a>
    </div>
  </div>
</div>

<main class="container">
  <div class="row row-grid justify-content-center">
    <div class="col col-12">
      {{ range .Pages.GroupByDate "2006"}}
      <div class="row mt-3">
        <div class="col d-flex flex-column">
          <div class="mt-3 mr-4">
            <h1 id="{{.Key}}">{{.Key}}</h1>
          </div>
          {{ range .Pages }}
          <a
            href="{{ .RelPermalink }}"
            target="_blank"
            class="btn btn-outline-secondary text-dark w-100 mb-2"
          >
            <span class="float-left"
              ><i class="iconfont icon-slideshow-line"></i> {{ .Title }}</span
            >
            <span class="float-right">{{ dateFormat .Site.Params.dateformFull .Lastmod.Local }}</span>
          </a>
          {{ end }}
        </div>
      </div>
      {{ end }}
      <div class="row">
        <div class="col">
          <h1 id="legacy">Others</h1>
          {{ range .Params.resources }}
          <a
            href="{{ .file }}"
            target="_blank"
            class="btn btn-outline-secondary text-dark w-100 mb-2"
          >
            <span class="float-left">
              {{ if eq .type "pdf" }}
                <i class="iconfont icon-pdf"></i>
              {{ else }}
                <i class="iconfont icon-pptx"></i>
              {{ end }} 
              {{ .title }}
            </span>
            <span class="float-right">{{ .date }}</span>
          </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
