{{ define "main" }}
{{ partial "list-header.html" . }}
<main class="container">
    <div class="row row-grid justify-content-center">
        <div class="col col-12">
            {{ range .Pages.GroupByDate "2006-01"}}
            <div class="row">
                <div class="col">
                    <h1 id="{{.Key}}">{{.Key}}</h1>
                    {{ range .Pages }}
                    <a href="{{ .RelPermalink }}" target="_blank" class="btn btn-outline-secondary text-dark w-100 mb-2">
                        <span class="float-left"><i class="iconfont icon-slideshow-line"></i> {{ .Title }}</span>
                        <span class="float-right">{{ .Date.Local }}</span>
                    </a>
                    {{ end }}
                </div>
            </div>
            {{ end }}
            <div class="row">
                <div class="col">
                    <h1 id="legacy">Others</h1>
                    {{ range .Params.resources }}
                    <a href="{{ .file }}" target="_blank" class="btn btn-outline-secondary text-dark w-100 mb-2">
                        <span class="float-left">{{ if eq .type "pdf" }}
                            <i class="iconfont icon-pdf"></i>
                        {{ end }} {{ .title }}</span>
                        <span class="float-right">{{ .date }}</span>
                    </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</main>
{{ end }}
