baseURL = "/"
theme = "ztyblog"
title = "Welcome"
copyright = "CC BY-NC 4.0"

languageCode = "zh-CN"
hasCJKLanguage = true
pygmentsCodeFences = true
pygmentsCodefencesGuessSyntax = false
pygmentsStyle = "colorful"
enableRobotsTXT = true
enableGitInfo = true
Paginate = 10
assetDir = ["/assets", "/themes/ztyblog/assets"]

[params]
    author = ""
    description = ""
    copyright = ""
    dateformFull = "2006-01-02 15:04 CST"
    updatelisturl = ""
    mail = ""
    iconfontURL = "//at.alicdn.com/t/font_1559566_z93lvlj24ja.css"
  localcommithash = ""
  localcommitdate = ""
  localcommitcomment = ""
  binarycommitdate = ""
    [[params.social]]
        identifier = "github"
        name = "Github"
        icon = "icon-github"
        url = ""
    [[params.social]]
        identifier = "email"
        name = "email"
        icon = "icon-email"
        url = ""
    [params.pagination]
        class = "pagination justify-content-center"
        showFirst = true
        showPrevious = true
        showBeginEnd = true
        previousIndicator = "Previous"
        nextIndicator = "Next"
        pagesBetweenActive = 2
        firstIndicator = '<i class="iconfont icon-back-arrow-"></i>'
        lastIndicator = '<i class="iconfont icon-back-arrow-reverse"></i>'

[menus]
    [[menu.main]]
        identifier = "blog"
        name = "blog"
        url = "/blog/"
        pre = "icon-blog"
        post = "博客"
        weight = 1
    [[menu.main]]
        identifier = "notes"
        name = "notes"
        url = "/notes/"
        pre = "icon-Notes"
        post = "笔记"
        weight = 2
    [[menu.main]]
        identifier = "about"
        name = "about"
        url = "/about/"
        pre = "icon-aboutus"
        post = "关于我"
        weight = 3
    [[menu.second]]
        identifier = "bangumi"
        name = "bangumi"
        url = "/bangumi/"
        pre = "icon-bilibili-line"
        post = "追番列表"
    [[menu.second]]
        identifier = "friends"
        name = "friends"
        url = "/friends/"
        pre = "icon-friend"
        post = "友链"