baseURL = "https://example.com/" #Your Site URL
title = "Welcome" #Title for the homepage

# Language
DefaultContentLanguage = "en"
hasCJKLanguage = true

# Theme
theme="ztyblog"

# Code Highlight Setting
pygmentsCodeFences = true
pygmentsCodefencesGuessSyntax = false
pygmentsStyle = "colorful"

# Folder Location
archetypeDir = "archetypes"
contentDir   = "content"
dataDir      = "data"
layoutDir    = "layouts"
publishDir   = "public"

# Building Options
buildDrafts  = false
buildFuture  = false
buildExpored = false
canonifyURLs = true
enableRobotsTXT = true
enableGitInfo   = false
enableEmoji     = true
enableMissingTranslationPlaceholders = false
disableRSS     = false
disableSitemap = false
disable404     = false
disableHugoGeneratorInject = false
rssLimit  = 10 # Maximum number of items in the RSS feed.
Paginate = 10 # Number of Posts per page for blog
copyright="CC BY-NC 4.0" # Copyright Protocol for your site

[author]
    name = "Zangwei Zheng"
[outputs]
  home = ["HTML", "RSS", "JSON"]

# Markdown Render Settings
[markup]
    defaultMarkdownHandler = "goldmark"
    [markup.goldmark]
        [markup.goldmark.extensions]
        definitionList = true
        footnote = true
        linkify = true
        strikethrough = true
        table = true
        taskList = true
        typographer = false
        [markup.goldmark.parser]
        attribute = true
        autoHeadingID = true
        autoHeadingIDType = "github"
        [markup.goldmark.renderer]
        hardWraps = false
        unsafe = false
        xHTML = false
    # blackfriday for legacy
    [markup.blackfriday]
        hrefTargetBlank = true
        smartypants = false
        tabSizeDefault = 2
    [markup.tableOfContents]
        endLevel = 3
        ordered = false
        startLevel = 2
    [markup.highlight]
        codeFences = true
        guessSyntax = false
        hl_Lines = ""
        lineNoStart = 1
        lineNos = false
        lineNumbersInTable = true
        noClasses = true
        style = "monokai"
        tabWidth = 4

[params]
    dateformFull = "2006-01-02 15:04 CST" # Date Formata
    description = "Zangwei Zheng's Site" # Description for your site
    keywords = "blog" # Keyworks for searching engine

    # Git Info
    ## Git info for whole site
	contentcommithash = "110efbe3de8d5346fe902016d0cb308428848a40"
	contentcommitdate = "Sun Jan 26 19:07:59 2020 +0800"
	contentcommitcomment = "rebuilding site Sun Jan 26 19:07:59 CST 2020"
    ## Git info for theme
	themecommithash = "431b69d63b665adac6a9043280ffeaecd320f7d0"
	themecommitdate = "Sun Jan 26 19:07:47 2020 +0800"
	themecommitcomment = "better config"
	## Git info for site binary
	binarycommithash = "1b12c6b1f006eaf01ab6cc3979d89d7353c28f36"
	binarycommitdate = "Sun Jan 26 19:08:02 2020 +0800"

    # Home Page
    homeimage = "/images/boat.jpg" # Image URL for home page
    homeblend = "blue" # Image blend color: blank, blue, green, red, white
    themecommitinfo = true
    gitinfo = true
    copyright = "2017 - 2019, Zangwei Zheng. All rights reserved." # Copyright
    icp = "waiting"
    security = "waiting"
    leonsans = false # Enable animate Welcome
    
    # Notes
    updatelisturl = "https://github.com/zhengzangw/hugo-site/issues"
    mail = "zzw@smail.nju.edu.cn"

    # Bangumi
    bangumiseasonstart = "2018"

    # 404 Page
    notfoundimage = "/images/dessert.jpg"
    notfoundblend = "red"
    # Markdown Render
    mathmode = true # Enable "_" render in mathmode in markdown
    linkicon = true # Add link icon for h1-h6
    tablecenter = true # Correct text-center table align

    [[params.social]]
        identifier = "github"
        name = "Github"
        icon = "icon-github"
        url = "https://github.com/zhengzangw/"
    [[params.social]]
        identifier = "email"
        name = "email"
        icon = "icon-email"
        url = "mailto:zzw@smail.nju.edu.com"
    
    [params.pagination]
        showFirst = true
        showPrevious = true
        showBeginEnd = true
        previousIndicator = "Previous"
        nextIndicator = "Next"
        pagesBetweenActive = 2

[menus]
    [[menu.main]]
        identifier = "blog"
        name = "blog"
        url = "/blog/"
        pre = "icon-blog"
        post = "博客"
        weight = 1
    [[menu.main]]
        identifier = "notes"
        name = "notes"
        url = "/notes/"
        pre = "icon-Notes"
        post = "笔记"
        weight = 2
    [[menu.main]]
        identifier = "about"
        name = "about"
        url = "/about/"
        pre = "icon-aboutus"
        post = "关于我"
        weight = 3
    [[menu.second]]
        identifier = "bangumi"
        name = "bangumi"
        url = "/bangumi/"
        pre = "icon-bilibili-line"
        post = "追番列表"
    [[menu.second]]
        identifier = "friends"
        name = "friends"
        url = "/friends/"
        pre = "icon-friend"
        post = "友链"
    [[menu.second]]
        identifier = "resources"
        name = "resources"
        url = "/slides/"
        pre = "icon-resources"
        post = "资源"
    [[menu.second]]
        identifier = "search"
        name = "Search"
        url = "/search/"
        pre = "icon-search"
        post = "站内搜索"