<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
	{{ partial "head.html" . }}
</head>

<body style="overflow-x: unset;">
	<div class="container-fluid">
		<div class="row d-print-block">
			<div class="col-12 col-md-3 col-lg-2 bd-sidebar d-print-none">
				{{ partial "notes-header" . }}
				{{ partial "notes-sidebar" . }}
			</div>
			<div class="col-12 col-md-9 col-lg-10 d-print-block">
				<div class="row d-print-block">
					<main class="col-12 col-md-10 col-lg-9 py-md-3 pl-md-5 bd-content d-print-block" role="main">
						<div id="title" class="my-4 border-bottom">
							<span>{{ .Parent.Title }}</span>
							<h2>{{ .Title }}</h2>
							<footer>
								<span>
									<i class="fad fa-calendar-alt mr-2"></i>
									{{ dateFormat .Site.Params.dateformFull .Date.Local }}
								</span> <br />
								<span>
									<i class="fad fa-calendar-edit mr-2"></i>
									{{ dateFormat .Site.Params.dateformFull .Lastmod.Local }}
								</span> <br />
								<span>
									<i class="fad fa-copyright mr-2"></i>
									{{ .Site.Copyright }}
									<a class="float-right" href="#" onclick="window.print()">
											打印本页
									</a>
								</span>
							</footer>
						</div>
						<div id="content" class="hl-h2">
							{{ $content := "" }}
							{{ if .Site.Params.mathmode }}
							  {{ $content = .RawContent | replaceRE "_" "\\_" | markdownify }}
							{{ else }}
							  {{ $content = .Content }}
							{{ end }}
							{{ if .Site.Params.linkicon }}
							  {{ $content = replaceRE "(<h[1-6] id=\"([^\"]+)\".+)(</h[1-6]+>)" `${1}<a href="#${2}" class="anchor" aria-hidden="true"><i class="iconfont icon-link"></i></a>${3}` $content  }}
							{{ end }}
							{{ if .Site.Params.tablecenter }}
							  {{ $content = replaceRE "align=\"center\"" "class=\"text-center\"" $content }}
							{{ end }}
							{{ safeHTML $content }}
						</div>
					</main>
					<div class="d-none d-lg-block col-lg-3 bd-toc d-print-none">
						{{ partial "notes-func" . }}
						{{ .TableOfContents }}
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ partial "javascripts.html" . }}
</body>

</html>