{{ define "main" }}
{{ if .Site.Params.enablesearch }}
<main class="container">
  <div class="row row-grid justify-content-center">
    <div class="col col-12">
      <div id="ntp-contents">
        <div id="fakebox-container">
          <div id="fakebox">
            <i class="iconfont icon-search search-icon"></i>
            <form action="{{ "search" | absURL }}">
              <input id="search-query" class="fakebox-input" autocomplete="off" tabindex="-1" aria-hidden="true" name="s" />
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col" id="search-results">
        </div>
      </div>
    </div>
  </div>
</main>

<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
  <div id="summary-${key}" class="card shadow-none">
    <div class="card-body">
        <h5 class="card-title"><a href="${link}">${title}</a></h5>
        <p>${snippet}</p>
        ${ isset tags }<p><strong>Tags</strong>: ${tags}</p>${ end }
        ${ isset categories }<p><strong>Categories</strong>: ${categories}</p>${ end }
      </div>
    </div>
  </div>
</script>
{{ end }}

{{- /* jQuery */ -}}
{{- if .Site.Params.useCDN -}}
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
{{- else -}}
    {{- $jquery := resources.Get "js/jquery.min.js" -}}
    {{- $securejquery := slice $jquery | resources.Concat "jquery.js" | resources.Minify | resources.Fingerprint "sha512" -}}
    <script type="text/javascript" src="{{ $securejquery.RelPermalink }}" integrity="{{ $securejquery.Data.Integrity }}"></script>
{{- end -}}

{{- /* bootstrap */ -}}
{{- if .Site.Params.useCDN -}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{{- else -}}
    {{- $bootstrap := resources.Get "js/bootstrap.min.js" -}}
    {{- $securebootstrap := slice $bootstrap | resources.Concat "bootstrap.js" | resources.Minify | resources.Fingerprint "sha512" -}}
    <script type="text/javascript" src="{{ $securebootstrap.RelPermalink }}" integrity="{{ $securebootstrap.Data.Integrity }}"></script>
{{- end -}}

{{- /* Search */ -}}
{{- if .Site.Params.useCDN -}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
    {{- $search := resources.Get "js/search.js" -}}
    {{- $securesearch := slice $search | resources.Concat "search.js" | resources.Minify | resources.Fingerprint "sha512" -}}
    <script type="text/javascript" src="{{ $securesearch.RelPermalink }}" integrity="{{ $securesearch.Data.Integrity }}"></script>
{{- else -}}
    {{ $fuse := resources.Get "js/fuse.js" }}
    {{ $mark := resources.Get "js/mark.js" }}
    {{ $search := resources.Get "js/search.js" }}
    {{- $securesearch := slice $mark $fuse $search | resources.Concat "search.js" | resources.Minify | resources.Fingerprint "sha512" -}}
    <script type="text/javascript" src="{{ $securesearch.RelPermalink }}" integrity="{{ $securesearch.Data.Integrity }}"></script>
{{ end }}

{{ end }}