{{ define "main" }}
{{ partial "single-header.html" . }}
<div id="content" class="my-3">
  <div class="container">
    <div class="row row-grid justify-content-center">
      <div class="col col-12 col-lg-8">
        <div class="card border-0 shadow-none">
          <div class="card-body">
            {{ $content := "" }}
            {{ $mathmode := .Site.Params.mathmode }}
            {{ $mathmode = not .Params.disablemathmode }}
            {{ if $mathmode }}
              {{ $content = .RawContent | replaceRE "_" "\\_" | markdownify }}
            {{ else }}
              {{ $content = .Content }}
            {{ end }}
            {{ if .Site.Params.linkicon }}
              {{ $content = replaceRE "(<h[1-6] id=\"([^\"]+)\".+)(</h[1-6]+>)" `${1}<a href="#${2}" class="anchor" aria-hidden="true"><i class="iconfont icon-link"></i></a>${3}` $content  }}
            {{ end }}
            {{ if .Site.Params.tablecenter }}
              {{ $content = replaceRE "align=\"center\"" "class=\"text-center\"" $content }}
            {{ end }}
            {{ safeHTML $content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}