.page-item .page-link {
    border-width: 0;
}

.page-item-number .page-link {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}

.page-item-ellipse {
    font-size: 1.015625rem;
    line-height: 1.5;
}