.page-item .page-link {
    border-width: 0;
}

.page-item-number .page-link {
    font-size: 12px;
    border-radius: 15px;
}

.page-item-ellipse {
    font-size: 1.015625rem;
    line-height: 1.5;
}

@media (min-witdh: 768px){
    .flex-md-row {
        flex-direction: row!important;
    }
}

.page-item .page-link, .page-item>span {
    margin: 0 3px;
    text-align: center;
    border-radius: .2rem;
    font-size: medium!important;
}