{{- /* jQuery */ -}}
{{- if .Site.Params.useCDN -}}
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
{{- else -}}
    {{- $jquery := resources.Get "js/jquery.min.js" -}}
    {{- $securejquery := slice $jquery | resources.Concat "jquery.js" | resources.Minify | resources.Fingerprint "sha512" -}}
    <script type="text/javascript" src="{{ $securejquery.RelPermalink }}" integrity="{{ $securejquery.Data.Integrity }}"></script>
{{- end -}}

{{- /* bootstrap */ -}}
{{- if .Site.Params.useCDN -}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{{- else -}}
    {{- $bootstrap := resources.Get "js/bootstrap.min.js" -}}
    {{- $securebootstrap := slice $bootstrap | resources.Concat "bootstrap.js" | resources.Minify | resources.Fingerprint "sha512" -}}
    <script type="text/javascript" src="{{ $securebootstrap.RelPermalink }}" integrity="{{ $securebootstrap.Data.Integrity }}"></script>
{{- end -}}

{{- /* katex */ -}}
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js" integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous"
onload="renderMathInElement(document.body);"></script>

{{- /* Custom */ -}}
{{ $custom := resources.Get "js/custom.js" }}
{{ $secureJS := slice $custom | resources.Concat "custom.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{- /* Not Home */ -}}
{{ if not .IsHome }}
<script type="text/javascript">
//katex auto loaded
document.addEventListener("DOMContentLoaded", function () {
    renderMathInElement(
        document.body, {
            delimiters: [
                {
                    left: "$$",
                    right: "$$",
                    display: true
                },
                {
                    left: "\\[",
                    right: "\\]",
                    display: true
                },
                {
                    left: "$",
                    right: "$",
                    display: false
                },
                {
                    left: "\\(",
                    right: "\\)",
                    display: false
                }
            ],
            strict: false
        }
    );
});

//link auto decorate
$(document).on('click', 'a[href^="#"]', function (event) {
    event.preventDefault();

    $('html, body').animate({
        scrollTop: $($.attr(this, 'href')).offset().top
    }, 500);
});
</script>
{{ end }}

{{/* Home */}}
{{ if .IsHome }}
{{- /* leon */ -}}
{{- if .Site.Params.leonsans -}}
{{- if .Site.Params.useCDN -}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    {{- $leon := resources.Get "js/leon.js" -}}
    {{- $secureleon := slice $leon | resources.Concat "leon.js" | resources.Minify | resources.Fingerprint "sha512" -}}
    <script type="text/javascript" src="{{ $secureleon.RelPermalink }}" integrity="{{ $secureleon.Data.Integrity }}"></script>
{{- else -}}
    {{- $tweenmax := resources.Get "js/TweenMax.min.js" -}}
    {{- $leon := resources.Get "js/leon.js" -}}
    {{- $secureleon := slice $tweenmax $leon | resources.Concat "leon.js" | resources.Minify | resources.Fingerprint "sha512" -}}
    <script type="text/javascript" src="{{ $secureleon.RelPermalink }}" integrity="{{ $secureleon.Data.Integrity }}"></script>
{{- end -}}

<script type="text/javascript">
let leon, canvas, ctx;

const sw = 350;
const sh = 100;
const pixelRatio = 2;

function init() {
    canvas = document.getElementById('welcome-canvas');
    ctx = canvas.getContext("2d");

    canvas.width = sw * pixelRatio;
    canvas.height = sh * pixelRatio;
    canvas.style.width = sw + 'px';
    canvas.style.height = sh + 'px';
    ctx.scale(pixelRatio, pixelRatio);

    controll = {
        box: false,
        grids: false,
        points: false,
        drawing: () => {
            let i, total = leon.drawing.length;
            for (i = 0; i < total; i++) {
                TweenMax.killTweensOf(leon.drawing[i]);
                TweenMax.fromTo(leon.drawing[i], 2, {
                    value: 0
                }, {
                    value: 1,
                    ease: Power4.easeOut
                });
            }
        }
    };

    leon = new LeonSans({
        text: 'Welcome',
        color: [
            ['#64d3ce', '#2a92ce'],
            ['#e7c4c4', '#fd46aa', '#e1ea73', '#ff8974'],
            ['#aae898', '#8ad781'],
            ['#64d3ce', '#2a92ce'],
            ['#e7c4c4', '#fd46aa', '#e1ea73', '#ff8974'],
            ['#64d3ce', '#2a92ce'],
            ['#aae898', '#8ad781']
        ],
        size: 80,
        weight: 300
    });

    requestAnimationFrame(animate);
}

function animate(t) {
    requestAnimationFrame(animate);

    ctx.clearRect(0, 0, sw, sh);

    const x = (sw - leon.rect.w) / 2;
    const y = (sh - leon.rect.h) / 2;
    leon.position(x, y);

    leon.draw(ctx);
}

window.onload = () => {
    init();
    let i, total = leon.drawing.length;
    for (i = 0; i < total; i++) {
        TweenMax.fromTo(leon.drawing[i], 1.6, {
            value: 0
        }, {
            delay: i * 0.05,
            value: 1,
            ease: Power4.easeOut
        });
    }
};
</script>
{{- end -}}

{{- if .Site.Params.comments -}}
<script id="dsq-count-scr" src="//{{.Site.Params.disqusname}}.disqus.com/count.js" async></script>
{{- end -}}

{{ end }}