<div class="container rounded bg-gradient-secondary">
    <div class="row my-lg-5">
        <div class="col p-5 text-center">
            <h1>{{ .Title }}</h1>
            <div>
                {{ if not (eq .RelPermalink "/about/") }}
                <p>
                    <i class="iconfont icon-NewFile mr-2"></i>
                    {{ dateFormat .Site.Params.dateformFull .Date.Local }}
                </p>
                {{ end }}
                <p>
                    <i class="iconfont icon-modify mr-2"></i>
                    {{ dateFormat .Site.Params.dateformFull .Lastmod.Local }}
                </p>
            </div>
            <a href="../" class="tongue tongue-secondary tongue-bottom d-print-none">
                <i class="iconfont icon-angle-up-o"></i>
            </a>
        </div>
    </div>
</div>