{{ define "main" }}
<section class="section-half-rounded">
	<div class="jumbotron section-inner left-0 rounded-right {{ with $.Site.Params.homeblend -}} 
	{{- if eq $.Site.Params.homeblend "green" -}} 
		bg-gradient-green   
	{{- else if eq $.Site.Params.homeblend "blue" -}} 
		bg-gradient-blue    
	{{- else if eq $.Site.Params.homeblend "red" -}} 
		bg-gradient-red
	{{- else if eq $.Site.Params.homeblend "white" -}} 
		bg-gradient-white
	{{- end -}} 
	{{- end }} overflow-hidden col-lg-9">
		<img src="{{ .Site.Params.notfoundimage }}" alt="Image" class="img-as-bg blend-mode--multiply">
	</div>
	<div class="container text-center text-lg-left py-5">
		<div class="row">
			<div class="col-lg-7 ml-auto">
				<div class="card shadow-lg rounded-lg mb-0">
					<div class="card-body px-5 py-6">
						<h2 class="h1 font-weight-bold mb-3">
							<span class="text-highlight-danger">404 Not Found</span>
						</h2>
						<p class="lead lh-180">
							您所寻找的内容不存在。
						</p>
						<div class="mt-3">
							<a href="/" class="btn btn-success btn-icon shadow-sm hover-translate-y-n3 mt-3">
								<span class="btn-inner--icon"><i class="iconfont icon-home"></i></span>
								<span class="btn-inner--text">返回主页</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }}