@mixin dimmed {
    opacity: .6;
}

@mixin dark-overlay {
    &:after {
      content: "";
      width: 100%;
      height: auto;
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }