.img-as-bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.section-half-rounded {
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding-top: 7rem;
    padding-bottom: 7rem;
    background: 0 0;
}

.section-half-rounded .section-inner {
    position: absolute;
    z-index: -2;
    top: 0;
    height: 100%;
}

.welcome-canvas {
    margin-bottom: -1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
    width: 350px;
    height: 100px;
}
