// Colors
$theme: #018574;
$text: #c6cddb;
$light-grey: #494f5c;
$dark-grey: #3B3E48;
$highlight-grey: #7d828a;
$midnightblue: rgba(44, 62, 80, 0.85);
$teal: rgba(0, 134, 123, 0.85);
$white: rgba(255, 255, 255, 0.85);

.bg-site {
    background-color: #eff2f7;
}

.bg-gradient-green {
    background: linear-gradient(50deg, #2dca8c 0, #2dcabb 100%) !important;
}

.bg-gradient-blue {
    background: linear-gradient(50deg, #2da5ca 0, #2d86ca 100%) !important;
}

.bg-gradient-red {
    background: linear-gradient(50deg, #ff5c75 0, #ff745c 100%) !important;
}

.bg-gradient-white {
    background: linear-gradient(50deg, #eff2f7 0, #eff0f7 100%) !important;
}

.blend-mode--multiply {
    mix-blend-mode: multiply;
}

.bg-soft-primary {
    background-color: #e2edff
}

.bg-soft-secondary {
    background-color: #fdfdfe
}

.bg-soft-success {
    background-color: #e6f9f1
}

.bg-soft-info {
    background-color: #eaf6ff
}

.bg-soft-warning {
    background-color: #fff7e8
}

.bg-soft-danger {
    background-color: #ffebee
}

.bg-soft-light {
    background-color: #fdfdfe
}

.bg-soft-dark {
    background-color: #e5e7e9
}

.bg-soft-neutral {
    background-color: #fff
}

.bg-soft-white {
    background-color: #fff
}

.bg-section-primary {
    background-color: #fff !important
}

.bg-section-secondary {
    background-color: #fafbfe !important
}

.bg-section-light {
    background-color: #e0e6ed !important
}

.bg-section-dark {
    background-color: #1a232d !important
}

.bg-brand-facebook {
    background-color: #3b5999 !important
}

.tiptool-hr {color:#e0e6ed;background-color:#e0e6ed;height:1px;line-height:1px;font-size:0;border:none;}

.bg-light {
    background-color: #eff2f7 !important;
}

@mixin dimmed {
    opacity: .6;
}

@mixin dark-overlay {
    &:after {
      content: "";
      width: 100%;
      height: auto;
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }